* {
    font-family: "Titillium Web";
    user-select: none;
}

:root {

}

body, html {
    font-size: 14px;
    padding: 0;
    margin: 0;
    height: 100vh;
}

footer {
    height: 1.5rem;
    width: 100vw;
    text-align: center;
    background-color: #808080;
}

.login-container {
    height: calc(100vh - 1.5rem);
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.login-form {
    border: 1px solid black;
    padding: 2rem;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    aspect-ratio: 4 / 3;
    width: 60rem;
}

.login-form-title {
    font-size: 3rem;
}

.login-form-input {
    font-size: 8rem;
    width: calc(100% - 4rem);
    border: 1px solid black;
    padding-inline: 1rem;
    text-align: center;
    position: relative;
}

.login-form-input-id {
    width: 24rem;
}

.login-form-separator {
    margin-block: 3.5rem 2rem;
}


#container {
    height: calc(100vh - 1.5rem);
    width: 100vw;
    display: grid;
    grid-template-rows: 4rem 4rem 1fr 4rem;
}

#resources {
    background-image: url("assets/greystone.png");
    background-repeat: repeat;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#bars {
    background-color: #060;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#gameview {
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(23,139,21,1) 14%, rgba(30,187,16,1) 55%, rgba(0,212,255,1) 55.5%, rgba(3,191,229,1) 80%, rgba(17,109,127,1) 100%);

    position: relative;
}

#items {
    background-color: #600;
    background-repeat: repeat;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: .5rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#objet {
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
}

.item-img {
    height: 2rem;
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
}

#consoImg {
    background-image: url("assets/genericConso.png");
}

#objetImg {
    background-image: url("assets/genericItem.png");
}

#shopImg {
    background-image: url("assets/genericShop.png");
}

.item-text {
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

#sidebar {
    background-color: rgba(128, 128, 128, .9);
    height: 100vh;
    width: 50vw;

    position: absolute;
    top: 0;
    left: 0;

    transform: translateX(-100%);
    transition: .3s;

    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 1001;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar.opened {
    transform: translateX(0);
}

.perks {
    margin: 1.25rem 2.5rem;
    display: inline-block;
    background-color: none;
    height: 10rem;
    width: 10rem;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

.resource {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: .5rem;
}

.resource-img {
    height: 2rem;
    aspect-ratio: 1;
    background-size: contain;
}

#fruits > .resource-img {
    scale: 2;
    background-image: url("assets/apple.png");
}

#fruits > .resource-text {
}

#iron > .resource-img {
    scale: 2.5;
    background-image: url("assets/ore_silver.png");
    transform: rotate(110deg);
}

#iron > .resource-text {
}

#wood > .resource-img {
    scale: 1.3;
    background-image: url("assets/trunk_bottom.png");
}

#wood > .resource-text {
}

.resource-text {
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-container {
    width: 80%;
}

.bar-text {
    font-size: 1rem;
    color: white;
}

.bar-bar {
    background-color: black;
    height: 2px;
    width: 100%;
}

.upgrade_button {
    background-color: orange;
    margin: 0 5rem;
    height: 2.5rem;
    width: 5rem;
    text-align: center;
    bottom: 0;
    position: absolute;
}

#actions-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 1000;
}

#actions {
    display: flex;
    gap: 12vw;
    height: fit-content;
    margin-bottom: 2rem;
}

.action {
    background-color: white;
    border-radius: 10rem;
    height: 4rem;
    aspect-ratio: 1;
    background-size: contain;
}

.action:hover {
    cursor: pointer;
}

#axe {
    background-image: url("assets/axe_bronze.png");
}

#pickaxe {
    background-image: url("assets/pick_bronze.png");
}

#hoe {
    background-image: url("assets/hoe_bronze.png");
}

.strip {
    width: 0;
    height: 0;
    border-top: 4rem solid transparent;
    border-bottom: 4rem solid transparent;
    border-left: 4rem solid rgba(128, 128, 128, .9);
    position: absolute;
    top: 50vh;
    left: 0;
    transition: .3s;
    z-index: 1000;
    transform: translateY(-50%);
}

.strip.opened {
    transform: translateX(50vw) translateY(-50%) rotate(180deg);
}

#user {
    background-color: beige;
    opacity: 0.9;
    height: 5vh;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.subsidebar {
    height: 100vh;
    width: 50vw;

    position: absolute;
    top: 0;
    left: 0;

    transform: translateX(-100%);
    transition: 1s;

    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 1000;
    background-color: rgba(90, 90, 90, .9);

}

.subsidebar::-webkit-scrollbar {
    display: none;
}

.subsidebar.opened {
    transform: translateX(50vw);
}


.tree {
    position: absolute;
    transform-origin: bottom center;
}

.iron {
    position: absolute;
    transform-origin: bottom center;
}

.fruits {
    position: absolute;
    transform-origin: bottom center;
}

.closeSub {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0.5rem 0.5rem 0
}