* {
    font-family: "Titillium Web";
    user-select: none;
}

:root {

}

body, html {
    font-size: 14px;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.login-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.login-form {
    border: 1px solid black;
    padding: 2rem;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    aspect-ratio: 4 / 3;
    width: 60rem;
}

.login-form-title {
    font-size: 3rem;
}

.login-form-input {
    font-size: 8rem;
    width: calc(100% - 4rem);
    border: 1px solid black;
    padding-inline: 1rem;
    text-align: center;
    position: relative;
}

.login-form-input-id {
    width: 24rem;
}

.login-form-separator {
    margin-block: 3.5rem 2rem;
}




#container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 4rem 4rem 1fr 4rem;
  background-color: red;
}

#resources {
  background-color: #606;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#bars {
  background-color: #060;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#gameview {
  background-color: #006;
}

#items {
  background-color: #600;
}

#sidebar {
  background-color: #660;
  height: 100vh;
  width: 25rem;

  position: absolute;
  top: 0;
  left: 0;

  transform: translateX(-100%);
  transition: .3s;

  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar.opened {
  transform: translateX(0);
}

.perks {
    margin: 5rem 2.5rem;
    display: block-inline;
    background-color: yellow;
    height: 20rem;
    width: 20rem;
}

.resource {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: .5rem;
}

.resource-img {
    height: 2rem;
    aspect-ratio: 1;
    background-color: black;
}

.resource-text {
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-container {
    width: 80%;
}

.bar-text {
    font-size: 1rem;
    color: white;
}

.bar-bar {
    background-color: black;
    height: 2px;
    width: 100%;
}